body{
   font-family: "Lucida Handwriting";
   background-image: url('img/chalkboard-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   text-align: center;
   font-size: 20px;
}
h1{
    /* font-size: 14px; */
    font-weight: bold;
}
.recipe-list {
    display: inline-flexbox;
    padding-right: 10px;
    border: 1px solid red;
    
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: grey;
}

ul li {
   
    margin-bottom: 15px;
    
}

.list-grid-container{
    border: 1px solid yellow;
    width: 800px;
    height: auto;  
    margin: auto;
    padding: 50px;

    display: grid;
    grid-template-columns: auto auto auto;
    /* align-self: center; */
    gap: 10px;
}

.item-list{
    height: 10em;
    width: 10em;
    border: 1px dashed green;
    margin: auto;
}