body{
    font-family: "Chalkduster", fantasy;
    /* font-variant: small-caps; */
    font-stretch: extra-expanded;
   background-color: white;
   color: white;
   text-align: center;
   font-size: 20px;
}
h1{
    /* font-size: 14px; */
    font-weight: bold;
}


a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: #D7BA89;
}



.list-grid-container{
    background-image: url('img/chalkboard-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    border: 20px solid #d7ba89;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px grey;

    width: 750px;
    height: auto;  
    margin: auto;
    padding: 50px 10px;

    display: grid;
    grid-template-columns: auto auto auto;
    /* align-self: center; */
    gap: 10px;
}

.item-list{
    height: 13.5em;
    width: 10em;
    /* border: 1px dashed green; */
    margin: auto;
}

img{
    height: 9.5em;
    width: 9.5em;
    border-radius: 20px;
}

img:hover{

    height: 10em;
    width: 10em;
    box-shadow: 0 0 5px 4px grey;
}

